@import "../utils/vars";

.benefits {
  display: flex;
  justify-content: center;

  &__item {
    flex-basis: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    color: $text-light-grey;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__title {
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 9.5px;
  }

  &__icon {
    background-color: $our-team-background;
    border-radius: 4px;
    padding: 25px 102px;
    margin-bottom: 30px;
  }
  
}
